* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik Bold", sans-serif;
}

body {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #83c0ed;
}

a {
  text-decoration: none;
  color: #99a2aa;
  transition: 0.5s;
}

h1 {
  font-size: 40px;
}

.container {
  padding: 0 10px;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
